
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.part-one {
    margin-top: 50px;
}

.row {
    width: 50%;
    margin: 0 auto;
}

.main-title{
    background-color: #ffce00;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

h1 {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 25px;
}

.column{
    padding: 25px;
    border: 1px solid #ddd;
}

.column-inner {
    width: 65%;
    margin: 0 auto;
}

.input-control {
    /*display: inline-block;*/
    min-height: 2.125rem;
    height: 2.125rem;
    position: relative;
    vertical-align: middle;
    margin: .325rem 0;
    line-height: 1;
}

.input-control input {
    /*-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;*/
    border: 1px #d9d9d9 solid;
    width: 85%;
    height: 100%;
}

input#name-txt {
    padding-left: 10px;
    font-size: 16px;
}

.button {
    padding: 0 1.2rem;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px #d9d9d9 solid;
    color: #262626;
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-size: .875rem;
    line-height: 100%;
    position: absolute;
    top: 0px;
    z-index: 7;
    margin: 0;
}

.button:hover {
    border-color: #787878;
}

.input-control input.success {
    border: 1px solid #60a917;
}

.input-control input.warning {
    border: 1px solid #e3c800;
}

.input-control input.error {
    border: 1px solid #ce352c;
}

.input-control input.info {
    border: 1px solid #1ba1e2;
}